__pycache__
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.git
.gitignore
Dockerfile
docker-compose*.yml
*.md
*.log
.vscode
.idea
.pytest_cache
.coverage
htmlcov/
.tox/
.nox/
tests/
code/
k8s/
outputs/*
!outputs/.gitkeep
